{namespace components.paccounts}

/**
 * Runs the accounts page
 */
{template .main}
<link type="text/css" href="css/paccounts.css" rel="stylesheet" />
<script type="text/javascript" src="js/paccounts.js"></script>
{/template}