{namespace components.pmain}

/**
 * Runs the main page
 */
{template .main}
<link type="text/css" href="css/pmain.css" rel="stylesheet" />
<script type="text/javascript" src="js/pmain.js"></script>
{/template}