{namespace components.porgs}

/**
 * Runs the organizations page
 */
{template .main}
<link type="text/css" href="css/porgs.css" rel="stylesheet" />
<script type="text/javascript" src="js/porgs.js"></script>
{/template}