{namespace components.ptransfers}

/**
 * Runs the transfers page
 */
{template .main}
<link type="text/css" href="css/ptransfers.css" rel="stylesheet" />
<script type="text/javascript" src="js/ptransfers.js"></script>
{/template}